#custom_close_icon
{
    display: none;
}
#sidebar
{
    position:fixed;
    overflow: scroll;
 
}
#sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  div#card-advanced-search{
    margin-top: 13px!important;
}
.details-row {
    transition: all 0.3s ease;
}
.clickable-row {
        cursor: pointer;
    }
.ticket-header-row th
{
    color:#495057;
}
#custom-d-flex
{
    display: flex;
    justify-content: end;
    gap:2px;
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3px; */
}
#driver-custom-d-flex , #vendor-custom-d-flex
{
    display: flex;
    justify-content: end;
    gap:10px;
}
.cke_notifications_area
{
    display: none!important;
}
.custom-alert-notifiy
{ 
    width: 300px;
    margin-bottom: 0px!important;
    height: 25px!important;

}
.custom_app__header-inner
{
    height: 50px!important;
}
.custom-online-title
{
    font-size: 12px;
}
.custom-alert-notifiy .btn-close {
    position: absolute;
    top: -7px!important;
    right: -1px;
    z-index: 2;
    padding: 1.25rem 1rem;
    font-size:9px;
}
.custom_page__body-wrapper
{
    top:65px;
}

@media screen and (max-width:1200px)
{
    #sidebar
    {
        position:fixed;
     
    }
    #custom_close_icon
    {
        display: block;
        font-size: 24px;
    }
    #sidebar  .main-sidebar-header
    {
        justify-content: space-between;
    }
    .follow-up-sidebar.active {
        width: 100%;
        top:0;
        height: 100%;
    }
    .follow-up-sidebar.active .btn-thin
    {
        padding: 8px 10px;
        font-weight: 400;
        font-size: 13px;
    }
    .follow-up-sidebar.active .btn i
    {
        margin-inline-end: 0px;
    }
    .follow-up-sidebar.active  .d-flex.mb-4.justify-content-between {
        align-items: center;
    }
    .follow-up-sidebar.active h4 {
        font-size: 22px;
    }
    .follow-up-sidebar.active .list-group li:nth-child(2) div
    {
       flex-flow: column;
       gap:5px;
    }

    button#follow-up-history-btn , button#log-history-btn , #mobile_custom_sticky button.btn.btn-danger
    {
        height: fit-content;
    }
    #mobile_custom_sticky .text-end
    {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-end;

    }
   #mobile_custom_sticky .text-end .btn{
        flex: 1 1 auto; 
    }
    #mobile_custom_sticky{
       position:unset!important;
    }
    .card__wrapper select {
        margin-bottom: 10px;
    }
    .card__wrapper.row .col-2.from__input-box
    {
        width:50%;
    }
    .card__wrapper.row .btn
    {
        width:100%;
    }
    .card__wrapper.row .col-10.from__input-box ,  .card__wrapper.row .col-10.from__input-box .col-3
    {
        width:100%;
    }
    .card__wrapper.row  .col-2
    {
        width:100%;
    }
    .card__wrapper.row  .button.btn.btn-secondary
    {
        width:100%;
    }
    button.btn.btn-secondary {
        width: 100%;
    }
    #all_lead_search
    {
        width: 100%;
    }
    .follow-up-sidebar.active button
    {
      width : auto;
    }
    .col-xxl-12 .col-xxl-3:nth-child(1)
    {
        width: 50%;
    }
    .col-xxl-12 .col-xxl-3:nth-child(2)
    {
        width: 50%;
    }
    #vendor_search_button .col-2:nth-child(5)
    {
        width: 100%;
    }
    .card__wrapper
    {
        overflow: scroll;
    }
    #lead-details-form .col-md-6
    {
        width: 100%;
    }
    #notifi_search .col-2:nth-child(3)
    {
        width: 100%;
    }
    #city_search .col-2:nth-child(3)
    {
        width: 100%;
    }
    #all_lead_search_btn .col-10 , #all_lead_search_btn .col-2
    {
        width: 50%;
    }
     #all_lead_search_btn .col-2 .col-2
    {
        width: 100%;
    }
    #admin_country_search  button.btn.btn-secondary {
        width: fit-content;
    }
    #admin_country_search{
        overflow: unset;
    }
    #city_select_btn select
    {
        margin-bottom:0px;
    }
    #calender_view_btn .card__wrapper
    { overflow: visible;
    }
    #inventory_calulator_btn
    {
        width:auto;
    }   
    div#invoice_mobile_view {
        flex-flow: column !important;
        align-items: start !important;
    }
    #invoice_mobile_view div:nth-child(2) {
        padding: 0px !important;
    }  
    #view-assessment-btn
    {
        width: auto;
    }
    #view-job-completion-btn
    {
        width: auto;
    }
}
@media screen and (max-width:1000px)
{
    #custom-d-flex
    {
    display: flex;
    flex-direction: column;
    gap:10px;
    }
    .mobile-menus-new{
        position: static !important;
    }
}
@media screen and (max-width:600px)
{
    #sidebar
    {
        position:fixed;
     
    }

    .card__wrapper select
    {
        margin-bottom:10px;
    }
    .card__wrapper {
        overflow: scroll;
    }
    .text-end a 
    {
        margin-bottom :10px;
    }
    .card__wrapper.row .col-2.from__input-box
    {
        width:100%;
    }
    .card__wrapper.row .btn
    {
        width:100%;
    }
    .card__wrapper .btn
    {
        width:100%!important;
        margin-bottom:10px;
    }
    .card__wrapper.row .col-2.from__input-box .col-2
    {
        width:100%;
    }
    .card__wrapper.row .col-10.from__input-box ,  .card__wrapper.row .col-10.from__input-box .col-3
    {
        width:100%;
    }
    #lead-details-form .text-end
    {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-end;

    }
    #lead-details-form .text-end .btn{
        flex: 1 1 auto; 
    }
    #mobile_custom_sticky .text-end
    {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-end;

    }
   #mobile_custom_sticky .text-end .btn{
        flex: 1 1 auto; 
    }
    #mobile_custom_sticky{
       position:unset!important;
    }
    .follow-up-sidebar.active {
        width: 100%;
        top:0;
        height: 100%;
    }
    .follow-up-sidebar.active .btn-thin
    {
        padding: 8px 10px;
        font-weight: 400;
        font-size: 13px;
    }
    .follow-up-sidebar.active .btn i
    {
        margin-inline-end: 0px;
    }
    .follow-up-sidebar.active  .d-flex.mb-4.justify-content-between {
        align-items: center;
    }
    .follow-up-sidebar.active h4 {
        font-size: 22px;
    }
    .follow-up-sidebar.active .list-group li:nth-child(2) div
    {
       flex-flow: column;
       gap:5px;
    }

    button#follow-up-history-btn , button#log-history-btn , #mobile_custom_sticky button.btn.btn-danger
    {
        height: fit-content;
    }

   
    #sidebar  .main-sidebar-header
    {
        justify-content: space-between;
    }
    #custom_close_icon
    {
        display: block;
        font-size: 24px;
    }
    #alert_pending_followups
    {
        font-size: 12.5px;
        padding: 8px;;
    }
    #vendor_search_button .col-2
    {
        width: 100%;
    }
    #vendor_search_button .col-2:nth-child(5)
    {
        width: 100%;
    }
    #all_lead_search_btn .col-10 , #all_lead_search_btn .col-2
    {
        width: 100%;
    }
     #all_lead_search_btn .col-2 .col-2
    {
        width: 100%;
    }
   #query_search_btn .col-xxl-12 .col-xxl-3:nth-child(1)
    {
        width: 100%;
    }
    #admin_country_search div
    {
        flex-flow :column;
    }
    #admin_country_search form#importForm
    {
        width: 100%;
    }
    #slot_search_btn .text-end
    {
        text-align: center!important;
    }
    #slot_search_btn .text-end a
    {
        margin-right:3px;
    }
    #ticket_search_btn .col-xxl-3
    {
        width: 100%;
    }
    #city_search_btn
    {
        flex-flow: column;
        gap: 5px!important;
    }
    #city_search_btn #importButton
    {
        width: 100%;
    }
    #city_search_btn #importForm
    {
        width: 100%;
    }
    #city_search_btn #actionButtons
    {
        flex-flow: column;
        gap: 5px!important;

    }
    #city_select_btn select
    {
        margin-bottom:15px;
    }

    #calender_view_btn .col-xxl-3
    {
        width: 100% !important;
    }
    #inventory_calulator_btn
    {
        width:auto;
    }
    #custom-d-flex 
    {
    display: flex;
    flex-direction: column;
    gap:10px;
    }
    #driver-custom-d-flex , #vendor-custom-d-flex
    {
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .custom_header__title
    {
        display: none;
    }
    .custom-alert-notifiy
    { 
        width: 300px;
       font-size: 11px!important;
       padding: 3px 9px!important;
    
    }
    .custom-alert-notifiy .btn-close {
        position: absolute;
        top: -6px!important;
        right: -1px;
        z-index: 2;
        padding: 1.25rem 1rem;
    }
    .mobile-menus-new{
        position: static !important;
    }
}